.body_wrapper{
    display: flex;
  
}

.body_main{
   /* background-color: pink; */
   
   
}

.main_buttons{
   /* background-color: blue; */
 
}

.buttons{
    /* background-color: red; */
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
    
    
   
    
   
}
    


