.body_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_main{
   /* background-color: pink; */
   
   
}

.main_buttons{
   /* background-color: blue; */
 
}

.buttons{
    /* background-color: red; */
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    
   
    
   
}
    


