.head_wrapper{
 border-bottom: 2px solid;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.anime{
  width: 50%;
}

.text{
    color: aliceblue;
}

.my_button{
    display: flex;
    gap: 10px;
    align-items: center;
    
}