.head_wrapper{ 
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.head_main{
  /* background-color: rgb(2, 2, 15); */
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 100px;
  border-bottom: 1px solid white;
  
}



.title{
    color: aliceblue;
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 896px){
    .head_wrapper{
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        /* background-color: red; */
    }
    
    .button{
        height: 30px;
        width: 40%;
        padding-right: 30px;
    }
}